body{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.header{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title{
    display: flex;
    justify-content: start;
    margin-left: 10px;
}

.menu-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 10px;
}

.menu{
    display: none;
}

.fixed{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #000;
    z-index: 999;
    background-image: url('x_icon.png');
    background-size: 2em 2em;
    background-repeat: no-repeat;
    background-position:100% 0%;
    gap: 50px;
}

.fixed.show {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

.welecome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 2em;
    background-color: #8cdef5;
    margin-bottom: 20px;
}

.small-boxes {
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(3 , calc(33.33% - 20px));
    margin: auto;
    gap: 20px;
    margin-bottom: 20px;
}

.small-boxes > div {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 5px;
    background-color: #8cdef5;
}

.smallimg {
    width: 80px;
    height: 100%;
    object-fit: cover;
}

.big-boxes {
    display: grid;
    width: 1200px;
    grid-template-columns: calc(33.33% - 20px) calc(66.67% / 4 - 20px) calc(66.67% / 4 - 20px) calc(66.67% / 4 - 20px) calc(66.67% / 4 - 20px);
    gap: 20px;
    margin: auto;
    
}

.big-boxes > div{
    background-image: url("img1.png");
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 100%;

}

.big-boxes > div > div{
    position:relative;
    background-color: rgb(255, 255, 255 ,0.5);
    top: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.big-boxes > div > img{
    height: 20px;
    width: 20px;
    position:relative;
    top:-20px;
    left: calc(100% - 20px);
    opacity: 0.8;
}

@media screen and (min-width: 601px) and (max-width: 1200px)  {
    .small-boxes {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(2 , calc(50% - 10px));
        margin: auto;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        flex: 1;
    }

    .small-boxes > div:nth-child(3) {
        grid-column: span 2;
    }

    .big-boxes {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(4 , calc(25% - 15px));
        gap: 20px;
        height: 100%;
        margin: auto;
        flex-wrap: wrap;
    }

    .big-boxes > div:nth-child(9),
    .big-boxes > div:nth-child(10) {
        grid-column: span 2;
    }

}



@media screen and (min-width: 360px) and (max-width:600px){
    .welecome{
        display: flex;
        flex:1;
        justify-content: center;
        align-items: center;
        height: 250px;
        font-size: 2rem;
        background-color: #8cdef5;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .menu-container {
        display: none;
        flex: 1;
        justify-content: flex-end;
        gap: 20px;
    }

    .menu{
        display: flex;
        width: 2em;
        height: 2em;
        flex: 1;
        justify-content: flex-end;
        transition: transform 0.3s ease;
    }

    .menu:hover{
        transform: translateX(-20px);
    }

    .small-boxes {
        display: grid;
        width: 90%;
        grid-template-columns: 100%;
        margin: auto;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        flex: 1;
    }

    .big-boxes {
        display: grid;
        width: 90%;
        grid-template-columns: 100%;
        gap: 20px;
        height: 100%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:360px){
    .welecome{
        display: flex;
        flex:1;
        justify-content: center;
        align-items: center;
        height: 250px;
        font-size: 2rem;
        background-color: #8cdef5;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .menu-container {
        display: none;
        flex: 1;
        justify-content: flex-end;
        gap: 20px;
    }

    .menu{
        display: flex;
        width: 2em;
        height: 2em;
        flex: 1;
        justify-content: flex-end;
        transition: transform 0.3s ease;
    }

    .menu:hover{
        transform: translateX(-20px);
    }

    .small-boxes {
        display: grid;
        width: 90%;
        grid-template-columns: 100%;
        margin: auto;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        flex: 1;
    }

    .big-boxes {
        display: grid;
        width: 90%;
        grid-template-columns: 100%;
        gap: 20px;
        height: 100%;
        flex-wrap: wrap;
    }
}
